# Git
alias gs='git status'

# ls
if ls --help 2>&1 | grep -q -- --color; then
alias ls='ls --color=auto -F'
alias ll='ls --color=auto -Flah'
else
alias ls='ls -FG'
alias ll='ls -FGlah'
fi

# grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Vim
alias vim='nvim'

alias pwc='pwd | pbcopy'
